.custom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbe6;
  margin-top: 30px;
  margin-bottom: 30px;
}

.custom-row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  padding: 20px;
  height: auto;
  min-height: 530px;
}

.custom-col {
  width: 100%;
  max-width: 350px;
  background-color: #fffbe6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid #ff9100;
  padding-bottom: 20px;
  overflow-y: auto;
}

.custom-form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.custom-form-group {
  margin-bottom: 20px;
  text-align: center; /* Centers the label */
}

.custom-form-input:focus {
  outline: none;
  border-color: #ff9100;
  box-shadow: none;
}

.custom-form-text {
  font-weight: bold;
  text-align: center;
}
.error-alert {
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: -20px;
}
.success-alert {
  margin-top: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-icon {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}
.custom-form-input {
  border: none;
  width: 90%;
  padding: 12px;
  border-bottom: 2px solid #ff9100;
  border-radius: 4px;
  background-color: #fffbe6;
  margin-top: 20px;
  margin-bottom: 20px;
}

.custom-login-button {
  background-color: #00712d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  font-weight: bold;
}
.custom-dob-inputs {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Adds spacing between each select element */
  margin-top: 10px;
}

.custom-dob-inputs select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #ff9100;
  background-color: #fffbe6;
  color: #333;
  font-size: 16px;
  appearance: none; /* Removes the default select arrow */
  -webkit-appearance: none; /* For Safari */
  -moz-appearance: none; /* For Firefox */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23ff9100" height="24" width="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
  cursor: pointer;
}

.custom-dob-inputs select:focus {
  border-color: #00712d; /* Focus border color */
  outline: none;
  box-shadow: 0 0 5px rgba(0, 113, 45, 0.5); /* Green shadow on focus */
}

.custom-dob-inputs option {
  color: #333;
  background-color: #fffbe6;
}

.custom-success-alert {
  background-color: #d4edda;
  padding: 10px;
  border-radius: 4px;
  color: #155724;
  margin-top: 20px;
}

.custom-error-alert {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 4px;
  color: #ff0000;
  margin-top: 20px;
}

.kvkk {
  display: block;
  margin-top: 15px;
  font-size: 15px;
  text-align: center;
  margin-top: 30px;
  color: blue;
}
.kvkk-kutu {
  text-align: center;
  margin-top: 20px;
  color: #ff9100;
}
