body {
  background-color: #fffbe6;
}
.container {
  margin-top: -120px;
  margin-bottom: 30px;
}

form {
  background-color: none;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid#ff9100;
  border-radius: 8px;
  padding-bottom: 20px;
  opacity: 1;
}
.form-text {
  font-size: 15px;
  color: black;
  font-weight: 700;
}
.form-input {
  background: #fffbe6;
  border: none;
  border-bottom: 3px solid#ff9100;
}
.form-input:hover {
  border: 3px solid#ff9100;
}
.form-input:focus {
  outline: none; /* Varsayılan outline kenarlığını kaldırır */
  border-color: #ff9100; /* Kenarlığı yeşil yapar */
  border: 3px solid#ff9100;
  box-shadow: none;
  background-color: none;
}
.form-input-date {
  width: 250px;
  font-size: 10px;
  border: none;
  border: 3px solid#ff9100;
  border-radius: 5px;
  padding: 10px;
  background-color: #fffbe6;
}
.form-input-date:hover {
  cursor: pointer;
  border: 3px solid#ff9100;
}
.form-input-date:focus {
  outline: none; /* Varsayılan outline kenarlığını kaldırır */
  border: 3px solid#ff9100;

  box-shadow: none;
}
.login-button {
  background-color: #00712d;
  border: none;
}
.login-button:hover {
  background-color: #00712d;
  opacity: 0.7;
}
link {
  text-align: left;
}
.kayıt {
  color: white;
  border: none;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(30, 74, 30);
  text-decoration: dashed;
  padding: 5px;
  border-radius: 5px;
}
.kayıt:hover {
  font-size: 20px;
  text-decoration: dashed;
  transition: all 0.5s ease; /* Animasyon geçişi */
}
.error-alert {
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  margin-top: 16px;
  margin-bottom: -20px;
}
.success-alert {
  margin-top: 10px;
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.success-icon {
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  font-size: 12px;
}
.form-label {
  font-size: 15px;
  color: black;
  font-weight: 700;
}

@media screen and (max-width: 960px) {
  form {
    width: 100%;
    max-width: 400px; /* Formun genişliğini sınırla */
    margin: auto; /* Formu ortala */
    border: 3px solid#ff9100;
    border-radius: 5px;
  }
  .container {
    width: 100%;
    margin-top: -20px;
  }
  .form-text {
    font-size: 15px;
    color: black;
    font-weight: 700;
  }
}
