.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fffbe6;
  margin-top: 80px;
  padding-bottom: 80px;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 960px;
  padding: 20px;
  height: 450px;
}

.col {
  width: 100%;
  max-width: 350px;
  background-color: #fffbe6;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid#ff9100;
  border-radius: 8px;
  padding-bottom: 20px;
}

.form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-input:focus {
  outline: none; /* Varsayılan outline kenarlığını kaldırır */
  border-color: #ff9100; /* Kenarlığı yeşil yapar */
  box-shadow: none;
  background-color: none;
}
.form-text {
  margin-bottom: 10px;
  font-weight: bold;
}

.form-input {
  border: none;
  width: 90%;
  padding: 12px;
  border-bottom: 2px solid #ff9100;
  border-radius: 4px;
  background-color: #fffbe6;
  margin-bottom: 20px;
  margin-top: 10px;
}

.login-button {
  background-color: #00712d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 50px;
  font-weight: bold;
  margin-bottom: 10px;
}
.login-button:hover {
  cursor: pointer;
}

.kayıt-button {
  background-color: #00712d;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: bold;
}

.error-alert {
  background-color: #ffcccc;
  padding: 10px;
  border-radius: 4px;
  color: #ff0000;
  margin-top: 20px;
}
@media (max-width: 768px) {
  .container {
    margin-top: 102px;
    padding-bottom: 99.5px;
  }
}
