.home-container {
  font-family: Arial, serif;
  padding: 20px;
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.pages {
  margin-top: 5%;
}

.hero-section {
  margin-left: -100px;
  background: #00712d;
  color: white;
  padding: 40px;
  border-radius: 20px;
  opacity: 0.9;
  width: 40%;
  margin-right: 20px;
  padding-bottom: 77px;
  padding-top: 87px;
}

.hero-section h1 {
  text-align: left;
  color: #ff9100;
  font-size: 3.5rem;
  margin-bottom: 10px;
}

.hero-section p {
  text-align: left;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.hero-section h4 {
  text-align: left;
  font-size: 2rem;
  margin-top: 10px;
  color: #fffbe6;
}

.recycling-image {
  width: 70%;
  border-radius: 20px;
  max-height: 620px;
  margin-right: -100px;
}

@media screen and (max-width: 960px) {
  .pages {
    margin-top: 0px;
  }
  .home-container {
    flex-direction: column;
    max-width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding: 10px;
  }

  .hero-section {
    width: 83%;
    margin: 0 0 20px 0;
    padding: 30px;
    border-radius: 10px;
  }

  .recycling-image {
    width: 98%;
    margin: 0;
    border-radius: 10px;
  }

  .hero-section h1 {
    font-size: 2.5rem;
  }

  .hero-section h4 {
    font-size: 1.5rem;
  }

  .hero-section p {
    font-size: 0.9rem;
  }
}
